<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<Parameter name="Driver" value="local-ie" />
		<!--can be local-chrome,local-ie,local-firefox,android-web,ios-web,etc-->
		<Parameter name="Url" value="http://sfwebapp1/helpdesk/" />
    <Parameter name="SNUrl" value="https://fivestarqa.service-now.com" />
		<Parameter name="ConfigPath" value="Resources/DriverConfig.json" />
	</TestRunParameters>

</RunSettings>
