<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="userName" value="fve\tbui"/>
    <add key="userPassword" value="Welcome@0121"/>
    <add key="adminUserName" value="fve\gnguyen"/>
    <add key="adminPassword" value="Welcome@0121"/>
    <add key="dashboardPath" value="Home |All"/>
    <add key="dashboardPathActive" value="Home|Active"/>
    <add key="newTeamLogEntryPath" value="New Log Entry|Team"/>
    <add key="newResidentLogEntryPath" value="New Log Entry|Resident"/>
    <add key="newClientLogEntryPath" value="New Log Entry|Ageility Client"/>
    <add key="newTeamBulkInsertPath" value="Bulk Processing|Insert Team"/>
    <add key="newResidentBulkInsertPath" value="Bulk Processing|Insert Resident"/>
    <add key="bulkEditTeamPath" value="Bulk Processing|Edit Team"/>
    <add key="bulkEditResidentPath" value="Bulk Processing|Edit Resident"/>
    <add key="residentCaseLogReporttPath" value="Reports|Resident Case Log"/>
    <add key="dataPath" value="C:\OutbreakSurveyDataTest\"/>
    <add key="teamAdminUser" value = "fve\sp-test51"/>
    <add key="residentAdminUser" value = "fve\sp-test52"/>
    <add key="clientAdminUser" value = "fve\sp-test53"/>
    <add key="teamCommunitySubmittorUser" value = "fve\sp-test57"/>
    <add key="teamCommunityAdminUser" value = "fve\sp-test54"/>
    <add key="residentCommunityAdminUser" value = "fve\sp-test55"/>
    <add key="​​residentCommunitySubmittorUser" value = "fve\sp-test54"/>
    <add key="residentReadOnlyUser" value = "fve\sp-test58"/>
    <add key="​clientSubmittorUser" value = "fve\sp-test56"/>
    <add key="commonPassword" value="Password1"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
